<%= success %>
<div class="c">
    <img src=<%=p.imageUrl %> >
    <h1><%= p.title %></h1>
    <p class="blogbody"><%= p.body %></p>
    <span>Posted on- <%= p.createdOn.toDateString() %></span>
</div>

